.features {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
}

.centeredRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 500px) {
  .featureItem {
    text-align: center;
    padding-inline: 15rem;
  }
}

@media screen and (max-width: 996px) {
  .titlePad {
    padding-inline: 10rem;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.featureImage {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}
