/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.heroBanner {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroSvg {
  z-index: 100;
  height: 300px;
  padding: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroSvg {
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .heroSvg {
    width: 150px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
